@import url('https://fonts.googleapis.com/css?family=Questrial');

body {
  margin: 0;
  padding: 0;
}

h1{
font-family: 'Questrial', sans-serif;
}

h2{
font-family: 'Questrial', sans-serif;
}

.view {
  min-height: 70vh;
  overflow: hidden;
}

.bank {
  display: flex;
  max-width: 40%;
}

.torchholder{

}

.person {
/*   */
  flex-basis: 130px;
  flex-grow: 0;
  align-self: flex-end;
  padding-bottom: 27%;
}

.person img {
  width: 100%;
}

section {
  display: flex;
  justify-content: space-between;
  background: #282828 url("images/fond.gif") bottom center no-repeat;
  background-size: cover;
}

section2 {
  display: flex;
  justify-content: space-between;
  background: #282828 url("images/tryagain.gif") bottom center no-repeat;
  background-size: cover;
}

footer {
  position: relative;
}

footer h1 {
  position: absolute;
  top : -62px;
  border: 6px solid blue;
  border-radius: 12px;
  padding: 4px;
}

.choices{
  display: flex;
  background-color: #6f72b5;
  justify-content: space-evenly;
}

.choice {
  border: 1px solid #000;
  flex-basis: 16%;
}

.choice a {
  display: flex;
}

.chrono img {
  width: 100%;
} */
