.view {
  min-height: 70vh;
  overflow: hidden;
}

.bank {
  display: flex;
  max-width: 40%;
  flex-wrap: wrap;
}

.person {
  border: 4px solid #000;
  flex-basis: 130px;
  flex-grow: 0;
}

.person img {
  width: 100%;
}

section {
  display: flex;
  justify-content: space-between;
  background-color: yellow;
}

.choices{
  display: flex;
  background-color: green;
}
